body {
    display:flex;
    grid-template-rows:75px auto;
    grid-template-columns: 350px auto;
    background-color: #dcabbb;

}


ul {
    list-style: none;
    display: grid;
    justify-content: center;
}

li {
    padding:20px;
}

.sidebar {
grid-column: 1;
grid-row:1 / span 2;
}
#logo {
    width:250px;
    height:250px;

}

.barlist {
    color:#64645c;
    font-weight: bolder;
    font-family: 'Lato';
    font-size:2rem;
}


a { 
    color: inherit;
    text-decoration: none;
 } 