body {
    display:flex;
    grid-template-rows:75px auto;
    grid-template-columns: 350px auto;
    background-color: #dcabbb;

}


ul {
    list-style: none;
    display: grid;
    justify-content: center;
}

li {
    padding:20px;
}

.sidebar {
grid-column: 1;
grid-row:1 / span 2;
}

.maintiles {
  /*grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr);
  grid-row:2;
  border:solid red; */
  
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
}
.maintiles img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
    padding:5px;
    border:solid white;
 }




#logo {
    width:250px;
    height:250px;

}

.barlist {
    color:#64645c;
    font-weight: bolder;
    font-family: 'Lato';
    font-size:2rem;
}

@media (max-width: 1200px) {
    .maintiles {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    .maintiles {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    .maintiles {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    .maintiles {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }



 a { 
    color: inherit;
    text-decoration: none;
 } 

