.main {
    background: rgb(117,9,121);
    background: linear-gradient(90deg, rgba(117,9,121,1) 0%, rgba(255,152,223,1) 35%, rgba(0,212,255,1) 100%);
display:flex;
flex-direction: column;
align-items: center;
}

    img {
        border:white solid;
     
    }

    a {
        color:white;
        text-decoration: none;
    }

    ul {
        text-decoration: none;
        display:flex;
        list-style-type:none;
        font-size:25px;
    }

  